:root {
  //Colors
  --Soft-blue: hsl(231, 69%, 60%);     
  --Soft-red: hsl(0, 94%, 66%);     
  --grayish-blue: hsl(229, 8%, 60%);
  --very-dark-blue: hsl(229, 31%, 21%);
  --white: hsl(0, 0%, 100%);
}